
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee record</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css1/bootstrap.min.css' %}">
    <script src="{% static 'bootstrap.min.js' %}"></script>
</head>
<body>
    <table class="container mt-3 table table-stripped table-bordered table-warning table-lg">
        <thead class="thead-dark">
            <tr>
                <th>Employee ID</th>
                <th>Employee Name</th>
                <th>Employee Email</th>
                <th>Employee Contact</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for employee in employees %}
        <tr>
            
            <td>{{ employee.eid }}</td>
            <td>{{ employee.ename }}</td>
            <td>{{ employee.eemail }}</td>
            <td>{{ employee.econtact }}</td>
            <td>
                <a href="/edit/{{ employee.id }}"><span class="glyphicon glyphicon-pencil">Edit</span></a>
                <a href="/delete/{{ employee.id }}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
    <br>
    <br>
    <center><a href="/emp" class="btn btn-primary">Add New record</a></center>
</body>
</html>